/*! Общие стили */

    /*! Данный класс служит для выделения примеров кода */
    .FontWCod{
        font-weight:500; /*! Для выделения кода, который используется как текст */
        background-color: #f8f9fa;
        margin: 0px 0px 20px 0px;
        padding: 10px 0px 10px 15px;
    }

    /*! общие цвета для кода */
    .word_class{
        color: #690;
    }

    .class-bootstrap{
        color: #07a;
    }

    .tag{
        color: #905;
    }

    /* цвета блоков и рамка элементов в примерах
     background-color: rgba(86,61,124,0.15);
        border: rgba(86,61,124,0.15);

        возможные варианты rgba(70, 130, 180, 0.15);
        rgba(147, 112, 219, 0.15);
        rgba(139,69,19,0.15);
        rgba(178, 34, 34, 0.15);
        rgba(221, 160, 221, 0.15);
        rgba(128, 0, 64, 0.15);
        rgba(128, 0, 128, 0.15);
        rgba(102, 0, 51, 0.15); норм варик
        rgba(75, 0, 130, 0.15);
        rgba(219, 112, 147, 0.15);
        rgba(139, 0, 0, 0.15);
        */
    .bd-highlight{
        background-color: rgba(75, 0, 130, 0.15);
        border: rgba(75, 0, 130, 0.15);
        border-style: solid;
        border-width: 1px;
    }

    /* цвет тегов и классов в тексте */
    .word_text{
        color: #d63384;
    }

    /* ПаНЕЛЬ НАВИГАЦИИ от xl (>=1200) до xxl (>=1400) */
    @media all and (max-width:1199px) {
        .mp_MenuNavXl{
            display: none;
        }
    }

    /* ПаНЕЛЬ НАВИГАЦИИ от sm (>=576) до lg (>=992) */
    @media all and (min-width:1199px) {
        .mp_MenuNav2LG{
            display: none;
        }
    }

    /* меняет цвет текста навигационного меню и убирает подчеркивание*/
    .nav-item a{
        text-decoration: none;
        color: black;
    }

    /* меняет цвет текста навигационного меню при наведении*/
    .nav-item a:hover{
        color: #464646;
    }

/*! Стили для кнопок */
